body{
    background-color:  violet;

}
main {
    background-color:  red;

}
aside {
    background-color: chartreuse;
}

img {
    float: left;;
}














.social-links {
    
}
.social-link-wrappers {
    
}
.social-link-wrappers li {
    
}
.fa-github {
    background: black;
    color: white;
    padding: %;
    width: %;
    text-align: center;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: %;
    width: %;
    text-align: center;
}
.fa-stack-overflow {
    background: orange;
    color: white;
    padding: ;
    width: %;
    text-align: center;
}
footer{
    text-align: center;
}
 footer p {
     background-color: rgb(78, 76, 76);
     padding: ;
     margin: ;
     border-top: solid teal ;
}